<!DOCTYPE>
<html>
    <head>
        <title>Fortune Telling is a scam</title>
    </head>
    <body>
        <h3>What's up. Welcome to my page that offers the oldest scam in the book, fortune telling</h3>
        <form method='GET' action='/fortune_results'>
        <p>
            What's your name?
            <input type="text" name='name'><br><br>
            How many siblings do you have?
            <input type="number" name='siblings'><br><br>
            What is your favorite beverage?
            <select name="beverage_list" id="beverage_type">
                <option value="fortnite_shield">Fortnite Shield</option>
                <option value="sausage">Drinkable Sausage From Spongebob</option>
                <option value="milk">Expired Milk</option>
                <option value="alcohol">Alcohol</option>
            </select><br><br>
            What is your favorite animal?<br>
            <input type="radio" name="animal" value="fish">le fish<br>
            <input type="radio" name="animal" value="dog">le doggo<br>
            <input type="radio" name="animal" value="crab">le crabo<br>
            <input type="radio" name="animal" value="snorlax">Snorlax<br><br>
            Which cities have you been to? Choose all.<br>
            <input type="checkbox" name="city" value="gotham">Gotham<br>
            <input type="checkbox" name="city" value="metropolis">Metropolis<br>
            <input type="checkbox" name="city" value="asgard">Asgard<br>
            <input type="checkbox" name="city" value="nashville">Nashville<br>
        </p>
        <button id="submit" type="submit">Submit</button>
        </form>
    </body>
</html>